.movie-card {
  border: 2px solid #ffe81f !important;
  /*box-shadow: 2px 2px 4px #ffe81f;*/
}

.movie-card .card-body {
  background-color: #ffe81f;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.open-btn {
  background-color: black !important;
  color: white !important;
  position: relative;
  align-self: center;
  margin-top: auto;
  width: 100%;
  flex: auto;
}

.open-btn:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.add-remove-button {
  flex: auto;
}
