.logout-btn {
  padding: 4px 12px 4px 12px;
  color: snow;
  background-color: steelblue;
  border: none;
  border-radius: 4px;
}

.main-title {
  margin: auto;
  text-align: center;
  color: #ffe81f;
  font-weight: 700;
  font-style: italic;
}

.movies-search-bar {
  width: 50% !important;
  background-color: #232b2b !important;
  border: 2px solid #ffe81f !important;
  color: white !important;
  margin: auto;
}
