/*$color: steelblue;

.my-flix {
  color: $color;
}*/
/*
$primary: SteelBlue;
$body-bg: snow;
*/

/*font-family: "Montserrat Alternates", sans-serif;
font-family: "Rajdhani", sans-serif;
font-family: 'Space Grotesk', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Rajdhani:wght@400;500;700&family=Space+Grotesk:wght@400;700&display=swap");

$primary: #ffe81f;
$body-bg: black;

* {
  font-family: "Space Grotesk", sans-serif;
}

@import "~bootstrap/scss/bootstrap.scss";
